* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
	list-style: none;
}
*,*::before,*::after{
	transition: all 0.4s ease-in-out;
}
:root {
	--bg-color: #081b29;
	--second-bg-color: #112e42;
	--text-color: #ededed;
	--main-color: #00abf0;
}
.flex {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}
a {
	color: var(--text-color);
}
.m-auto{
	margin: auto;
}
.w-94{
	width: 94%;
}
.dark{
	background-color: var(--bg-color);
}
.light{
	background-color: var(--second-bg-color);
}
.column{
	flex-direction: column;
}
.hide{
	filter: blur(5px);
	opacity: 0;
	transform: translateX(-100%);
	transition: all 1s ease;
}
.show{
	filter: blur(0);
	opacity: 1;
	transform: translateX(0);
	transition: all 1s ease;
}
h2{
	font-size: 3em;
	text-align: center;
}
h4{
	font-size: 1.2rem;
	width: 100%;
}
section h3{
	font-size: 1.5rem;
}
h2 span,h1 span{
	color: var(--main-color);
}
body {
	color: var(--text-color);
}
.home {
	background: url("home.jpg") center;
	background-size: cover;
	height: 100vh;
	position: relative;
	z-index: 5;
	padding-top: 30vh;
}
.main-nav-container{
	align-items: center;
}
nav {
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	z-index: 100;
}
nav.scroll{
	background-color: var(--bg-color);
}
nav ul {
	z-index: 1;
}
nav ul li a {
	padding: 0 30px;
	font-size: 1.2rem;
	font-weight: 400;
}
nav ul li a:hover,
nav .active {
	color: var(--main-color);
}
.logo {
	font-size: 2rem;
	font-weight: 700;
}
#menu {
	font-size: 3.6rem;
	cursor: pointer;
	display: none;
}
.home-text {
	width: 50%;
	z-index: 1;
}
.home-text h1 {
	font-size: 3rem;
}
.home-text .stroked-text {
	font-size: 2.2rem;
	margin-bottom: 20px;
	-webkit-text-stroke: 1px var(--main-color);
	color: transparent;
}
.home-text p {
	font-size: 1.2rem;
}
.btns button {
	padding: 10px 30px;
	font-size: 1.1rem;
	border-radius: 5px;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	border: 3px solid var(--main-color);
	position: relative;
	overflow-x: hidden;
	z-index: 1;
}
.btns.home-btns{
	margin-top: 30px;
}
.btns button {
	background-color: transparent;
	color: var(--bg-color);
}
.btns.home-btns button:nth-child(1){
	margin-right: 50px;
	color: var(--bg-color);
}
.btns button:nth-child(2) {
	color: var(--main-color);
}
.btns button:nth-child(1)::before,.up-icon::before {
	width: 100%;
}
.btns button:nth-child(1)::before,
.btns button:nth-child(2)::before,.up-icon::before,.main-contact-container .input-field .focused {
	background-color: var(--main-color);
	z-index: -1;
	top: 0;
	position: absolute;
	height: 100%;
	content: '';
	left: 0;
}
.btns button:nth-child(2)::before,
.main-contact-container .input-field .focused {
	width: 0;
}
.btns button:nth-child(1):hover::before,.up-icon:hover::before {
	transform: translateX(100%);
}
.btns button:nth-child(1):hover,.up-icon:hover {
	color: var(--main-color);
}
.btns button:nth-child(2):hover::before,
.main-contact-container .input-field input:focus+.focused,
.main-contact-container .input-field textarea:focus+.focused {
	transform: translateX(0);
	width: 100%;
}
.btns button:nth-child(2):hover {
	color: var(--bg-color);
}
.img-hover {
	position: absolute;
	width: 40%;
	height: 100%;
	content: '';
	z-index: 0;
	top: 0;
	right: 0;
	background: transparent;
	transition: all 3s ease-in-out;
}
.img-hover:hover {
	background-color: var(--bg-color);
	opacity: 0.6;
}
.social-links, .social-links a {
	justify-content: center;
	align-items: center;
	transition: none;
}
.social-links {
	margin-top: 3rem;
	font-size: 1.9rem;
	gap: 30px;
}
.social-links a {
	border: 2px solid var(--main-color);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: flex;
	position: relative;
	z-index: 1;
	color: var(--main-color);
	overflow: hidden;
}
.social-links a::before {
	position: absolute;
	height: 100%;
	content: '';
	width: 0;
	z-index: -1;
}
.social-links a:hover{
	color: var(--bg-color);
}
.social-links a:hover::before {
	width: 100%;
	background-color: var(--main-color);
}
section:not(.home){
	padding: 4rem 0;
}
.main-about-container{
	align-items: center;
	gap: 35px;
}
.about-img-container{
	border-radius: 50%;
	position: relative;
	width: 280px;
	height: 280px;
	justify-content: center;
	align-items: center;
}
.about-img-container .spinner{
	position: absolute;
	height: 100%;
	border-radius: 50%;
	width: 100%;
	transform: rotate(0);
	top: 0;
	border-top: 5px solid var(--second-bg-color);
	border-bottom: 5px solid var(--second-bg-color);
	border-left: 5px solid var(--main-color);
	border-right: 5px solid var(--main-color);
	animation: spin 5s linear infinite;
}
@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(300deg);
	}
}
.about-img{
	border-radius: 50%;
	border: 3px solid var(--main-color);
	width: 250px;
	height: 250px;
}
.about-content{
	text-align: center;
}
.about-content h3{
	font-size: 2rem;
}
.about-content p{
	font-size: 1.2rem;
}
.my-education,.my-experience{
	border-left: 3px solid var(--main-color);
	padding-left: 20px;
	margin-top: 10px;
	width: 45%;
	gap: 20px;
}
.content,.coding,.pro{
	border: 2px solid var(--main-color);
	border-radius: 5px;
	padding: 1rem;
	gap: 5px;
	position: relative;
	z-index: 1;
}
.content::after,.content::before{
	position: absolute;
	content: '';
	background-color: var(--main-color);
	top: 0;
}
.content::after{
	opacity: 0.3;
	width: 0;
	height: 100%;
	z-index: -1;
	left: 0;
}
.content:hover::after{
	width: 100%;
}
.content::before{
	width: 20px;
	height: 20px;
	left: -33px;
	border-radius: 50%;
}
.content .year{
	color: var(--main-color);
}
.coding,.pro{
	gap: 20px;
	position: relative;
	z-index: 1;
}
.my-coding-container,.my-pro-container{
	width: 47%;
}
.my-pro-container,.pro,.my-coding-container,.coding,.main-contact-container{
	margin-top: 20px;
}
.coding::before,.pro::before{
	content: '';
	width: 0;
	position: absolute;
	height: 100%;
	z-index: -1;
	background-color: var(--bg-color);
	opacity: 0.7;
	left: 0;
	top: 0;
}
.coding:hover::before,.pro:hover::before{
	width: 100%;
}
.skill{
	gap: 10px;
}
.bar{
	width: 100%;
	height: 30px;
	border: 2px solid var(--main-color);
	padding: 4px;
}
.bar span{
	display: block;
	background-color: var(--main-color);
	height: 100%;
}
.coding .skill:nth-child(1) .bar span{
	width: 97%;
}
.coding .skill:nth-child(2) .bar span{
	width: 92%;
}
.coding .skill:nth-child(3) .bar span{
	width: 70%;
}
.coding .skill:nth-child(4) .bar span{
	width: 85%;
}
.pro .skill:nth-child(1) .bar span{
	width: 91%;
}
.pro .skill:nth-child(2) .bar span{
	width: 80%;
}
.pro .skill:nth-child(3) .bar span{
	width: 75%;
}
.pro .skill:nth-child(4) .bar span{
	width: 65%;
}
.main-contact-container{
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2,30%);
	grid-template-rows: repeat(2,60px) 300px;
	gap: 20px;	
}
.main-contact-container .input-field{
	position: relative;
	z-index: 1;
}
.main-contact-container .input-field .focused{
	display: inline-block;
	border-radius: 5px;
	opacity: 0.3;
}
.main-contact-container input,.main-contact-container textarea{
	padding: 20px;
	font-size: 1.1rem;
	background: transparent;
	border: 2px solid var(--main-color);
	color: var(--text-color);
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.main-contact-container input::placeholder,.main-contact-container textarea::placeholder{
	color: #aaa;
}
.main-contact-container .textarea,.main-contact-container .btns{
	grid-column: span 2;
	width: 100%;
}
.main-contact-container textarea{
	resize: none;
}
.main-contact-container .btns{
	text-align: center;
}
footer{
	padding: 2rem;
	font-size: 1.1rem;
	justify-content: center;
	align-items: center;
}
.up-icon{
	background-color: var(--second-bg-color);
	color: var(--bg-color);
	padding: 7px;
	font-size: 2.5rem;
	border-radius: 5px;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 2;
	border: 3px solid var(--main-color);
	overflow: hidden;
	transition: none;
}
/* Media Queries */
@media only screen and (max-width:576px) {
	*{
		overflow-x: hidden;
	}
	.content,.my-education,.main-education-container,.my-experience{
		overflow-x: visible;
	}
	html{
		font-size: 14px;
	}
	.main-nav-container{
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}
	.main-nav-container ul{
		flex-direction: column;
		gap: 10px;
		width: 100%;
		display: none;
	}
	.main-nav-container ul li a,.logo{
		padding: 0 3%;
	}
	.main-nav-container ul li a:hover{
		background-color: var(--main-color);
	}
	.home{
		height: fit-content;
		padding-bottom: 20px;
		text-align: center;
		padding-top: 20vh;
	}
	.home-text{
		width: 100%;
	}
	.btns{
		display: flex;
		gap: 1.2rem;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.btns.home-btns button:nth-child(1){
		margin: 0;
	}
	.main-education-container,.main-skills-container{
		flex-direction: column;
	}
	.my-education,.my-experience,.my-coding-container,.my-pro-container
	{
		width: 100%;
		margin-top: 20px;
	}
	.main-contact-container{
		grid-template-columns: repeat(2,44%);
	}
	footer{
		text-align: center;
	}
}
